# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Test
*/test
*/App.svelte
*/main.js
oldreadme.md

# Random stuff
node_modules
package-lock.json
public
index.html
vite.config.js
jsconfig.json

# Node
node_modules
dist
dist-ssr
*.local
package-lock.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
